body {
    background-color: black;
}

h1{
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Playfair Display', serif;
   
}

div{

    width: 50%;
    margin-left: 25%;
    text-align: center;
    color: white;
}
#image {
    border: 5px solid white;
    width: 100%;
}